aside
	.info
		.block
			span user
			span {{info.username}}
		.block
			span host
			span {{info.hostname}}
		.block(*ngFor="let ipAddress of ipAddressInfo")
			span {{ipAddress.name}}
			span {{ipAddress.address}}
		.block
			span time
			span {{timeString}}
	.container([ngClass]="{'showText': isOpenAside}")
		button(type="button", (click)="toggleAside()") 
			i(class="fa fa-bars")
			span Toggle menu
		button(type="button", (click)="changeRoute('gateway-serial')")
			i(class="fa fa-microchip")
			span Gateway
		button(type="button", (click)="changeRoute('nrf24-sniffer')")
			i(class="fa fa-search")
			span Sniffer
		button(type="button", (click)="changeRoute('pihole-stats')")
			i(class="fa fa-globe")
			span PiHole
		button(type="button", (click)="changeRoute('seven-segments')")
			i(class="fa fa-braille")
			span Seven segments
		button(type="button", (click)="changeRoute('vera3-stats')")
			i(class="fa fa-cloud")
			span Vera3 stats
		button(type="button", (click)="changeRoute('raspicam-stats')")
			i(class="fa fa-camera-retro")
			span Raspicam
		button(type="button", (click)="changeRoute('heating-stats')")
			i(class="fa fa-thermometer-empty")
			span Heating
		button(type="button", (click)="clickCloseApp()")
			i(class="fa fa-close")
			span Close app