aside
	.info
		.block
			span user
			span {{info.username}}
		.block
			span host
			span {{info.hostname}}
		.block(*ngFor="let ipAddress of ipAddressInfo")
			span {{ipAddress.name}}
			span {{ipAddress.address}}
	.container(*ngIf="isOpenAside")
		button(pButton="", type="button", (click)="toggleAside()", label="Close", icon="fa-close")
		button(pButton="", type="button", (click)="changeRoute('gateway-serial')", label="Gateway", icon="fa-microchip")
		button(pButton="", type="button", (click)="changeRoute('nrf24-sniffer')", label="Sniffer", icon="fa-search")
		button(pButton="", type="button", (click)="changeRoute('pihole-stats')", label="PiHole", icon="fa-globe")
		button(pButton="", type="button", (click)="changeRoute('seven-segments')", label="Seven segments", icon="fa-braille")
		button(pButton="", type="button", (click)="changeRoute('raspicam-stats')", label="Raspicam", icon="fa-camera-retro")
	.container(*ngIf="!isOpenAside")
		button(pButton="", type="button", (click)="toggleAside()",icon="fa-bars")
		button(pButton="", type="button", (click)="changeRoute('gateway-serial')", icon="fa-microchip")
		button(pButton="", type="button", (click)="changeRoute('nrf24-sniffer')", icon="fa-search")
		button(pButton="", type="button", (click)="changeRoute('pihole-stats')", icon="fa-globe")
		button(pButton="", type="button", (click)="changeRoute('seven-segments')", icon="fa-braille")
		button(pButton="", type="button", (click)="changeRoute('raspicam-stats')", icon="fa-camera-retro")